<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestComponents.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/pkraju27/SwagLab/src/test/java/TestComponents/BaseTest.java">
        <classes>
            <class name="TestComponents.LoginPage">
            </class>
            <class name="TestComponents.ProductsPage">
            </class>
        </classes>
    </test>
</suite>